<h1>Booking Details</h1>

<h2>Client Details</h2>
<p>Name: <%= @booking.user.name %></p>
<p>Email: <%= @booking.user.email %></p>



<h2>Room Details</h2>
<p>Name: <%= @booking.room.name %></p>
<p>Description: <%= @booking.room.description %></p>
<p>Capacity: <%= @booking.room.capacity %></p>


<h2>Booking Details</h2>
<p>Start Time: <%= @booking.start_time %></p>
<p>End Time: <%= @booking.end_time %></p>

<button>Profile Management</button>