<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <table class="table">
        <thead>
          <tr>
            <th>Room name</th>
            <th>Rate</th>
            <th>Capacity</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @rooms.each do |room| %>
            <tr>
              <td><%= room.room_name %></td>                
              <td>RM<%= room.rate %></td>                
              <td><%= room.capacity %> people</td>
              <td>
                <a href="/edit/room/<%= room.id %>">edit</a> | 
                <a href="/delete/room/<%= room.id %>">delete</a>
              </td>                                                   
            </tr>            
          <% end %>
        </tbody>
      </table>
      <form action="/admin" method="get">
        <button type="submit" class="btn btn-primary">Back</button>
      </form>  
    </div>
  </div>
</div>

